{% extends "base/base.html" %}

{% block title %}Cambiar contraseña{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card shadow">
            <div class="card-header">
                <h3 class="mb-0">
                    <i class="fa-solid fa-key"></i>Cambiar contraseña
                </h3>
            </div>

            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">
                        Guardar contraseña
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}